{% extends "shop/base.html" %}
{% load currency %}
{% load i18n %}

{% block title %}
   {% trans "Checkout" %}
{% endblock %}

{% block content %}

<!-- Breadcrumb Area start -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-content">
                    <h1 class="breadcrumb-hrading">{% trans "Checkout Page" %}</h1>
                    <ul class="breadcrumb-links">
                        <li><a href="{% url "shop:landing_page" %}">{% trans "Home" %}</a></li>
                        <li>{% trans "Checkout" %}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->
<!-- checkout area start -->
<div class="checkout-area mt-60px mb-40px">
    <div class="container">
        {{form.errors.postal_code}}
        {{form.errors.first_name}}
        {{form.errors.last_name}}
        {{form.errors.phone_number}}
        {{form.errors.country}}
        {{form.errors.city}}
        {{form.errors.email}}
        <form action="." method="post" class="order-form">
<!--        {{ form.as_p }}-->
<!--        <p><input type="submit" value="{% trans "Place order" %}"></p>-->
<!--    {% csrf_token %}-->

            <div class="row">
                <div class="col-lg-7">
                    <div class="billing-info-wrap">
                        <h3>{% trans "Billing Details" %}</h3>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="billing-info mb-20px">
                                    <label>{% trans "First Name" %}</label>
                                    <input type="text" name="first_name" maxlength="50" required="">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="billing-info mb-20px">
                                    <label>{% trans "Last Name" %}</label>
                                    <input type="text" name="last_name" maxlength="50" required="">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="billing-select mb-20px">
                                    <label>{% trans "Country" %}</label>
                                    <input type="text" name="country" value="{{form.instance.country}}" maxlength="45" required="">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="billing-info mb-20px">
                                    <label>{% trans "Town / City" %}</label>
                                    <input type="text" name="city" maxlength="35" required=""/>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="billing-info mb-20px">
                                    <label>{% trans "Street Address" %}</label>
                                    <input type="text" name="address" maxlength="250" required="" id="id_address">
                                </div>
                            </div>
<!--                            <div class="col-lg-12">-->
<!--                                <div class="billing-info mb-20px">-->
<!--                                    <label>Town / City</label>-->
<!--                                    <input type="text" />-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-lg-6 col-md-6">-->
<!--                                <div class="billing-info mb-20px">-->
<!--                                    <label>State / County</label>-->
<!--                                    <input type="text" />-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="col-lg-6 col-md-6">
                                <div class="billing-info mb-20px">
                                    <label>{% trans "Postcode / ZIP" %}</label>
                                    <input type="number" name="postal_code" maxlength="25" required=""/>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="billing-info mb-20px">
                                    <label>{% trans "Phone" %}</label>
                                    <input type="number"  name="phone_number" maxlength="16" required=""/>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="billing-info mb-20px">
                                    <label>{% trans "Email Address" %}</label>
                                    <input type="email" name="email" maxlength="50" required=""/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="your-order-area">
                        <h3>{% trans "Your order" %}</h3>
                        <div class="your-order-wrap gray-bg-4">
                            <div class="your-order-product-info">
                                <div class="your-order-top">
                                    <ul>
                                        <li>{% trans "Product" %}</li>
                                        <li>{% trans "Total" %}</li>
                                    </ul>
                                </div>
                                <div class="your-order-middle">
                                    <ul>
                                        {% for item in cart %}
                                            <li>
                                                {{ item.quantity }}x {{ item.product.name }}
                                                <span>{{ item.total_price_after_discount|floatformat:"2"|currency:request.session.currency }}&nbsp;{{request.session.currency}}</span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="your-order-bottom">
                                    <ul>
                                        <li class="your-order-shipping">{% trans "Coupon" %}</li>
                                        {% for item in cart %}
                                            {% if cart.coupon %}
                                                <li style="color:red;">
                                                    <span>"{{ cart.coupon.code }}" ({{ cart.coupon.discount }}% off)</span>
                                                    <br>
                                                    <span>- {{ cart.get_discount|floatformat:"2"|currency:request.session.currency }}&nbsp;{{request.session.currency}}</span>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="your-order-total">
                                    <ul>
                                        <li class="order-total">{% trans "Total" %}</li>
                                        <li><p>{{ cart.get_total_price_after_discount|floatformat:"2"|currency:request.session.currency }}&nbsp;{{request.session.currency}}</p></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="Place-order mt-25">
                            {% csrf_token %}
                            <input style="width:100%;" class="btn-hover" type="submit" value="{% trans "Place order" %}">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- checkout area end -->

{% endblock %}