{% load i18n %}
{% load static %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <div class="tab-content quickview-big-img">
                            <div id="pro-1" class="tab-pane fade show active">
                                <img style="height:300px;" id="tab-pane-img" src="" alt="" />
                            </div>
                            <div id="pro-2" class="tab-pane fade">
                                <img style="height:300px;" id="pro-2-img" src="" alt="" />
                            </div>
                            <div id="pro-3" class="tab-pane fade">
                                <img style="height:300px;" id="pro-3-img" src="" alt="" />
                            </div>
                            <div id="pro-4" class="tab-pane fade">
                                <img style="height:300px;" id="pro-4-img" src="" alt="" />
                            </div>
                        </div>
                        <!-- Thumbnail Large Image End -->
                        <!-- Thumbnail Image End -->
                        <div class="quickview-wrap mt-15">
                            <div class="quickview-slide-active owl-carousel nav owl-nav-style owl-nav-style-2" role="tablist">
                                <a class="active" data-toggle="tab" href="#pro-1"><img style="height:125px;margin-top:15px;" id="tab-pane-img-0" src="" alt="" /></a>
                                <a data-toggle="tab" href="#pro-2"><img style="height:125px;margin-top:15px;" id="tab-pane-img-1" src="" alt="" /></a>
                                <a data-toggle="tab" href="#pro-3"><img style="height:125px;margin-top:15px;" id="tab-pane-img-2" src="" alt="" /></a>
                                <a data-toggle="tab" href="#pro-4"><img style="height:125px;margin-top:15px;" id="tab-pane-img-3" src="" alt="" /></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <div class="product-details-content quickview-content">
                            <h2 id="product-details-content-detail"></h2>
<!--                            <p class="reference">Reference:<span> demo_17</span></p>-->
                            <div class="pro-details-rating-wrap">
                                <div class="rating-product">
                                    <i class="ion-android-star"></i>
                                    <i class="ion-android-star"></i>
                                    <i class="ion-android-star"></i>
                                    <i class="ion-android-star"></i>
                                    <i class="ion-android-star"></i>
                                </div>
<!--                                <span class="read-review"><a class="reviews" href="#">Read reviews (1)</a></span>-->
                            </div>
                            <div class="pricing-meta">
                                <ul>
                                    <li class="price" id="modal-price">€</li>
                                    <li id="modal_current-price" class="current-price"></li>
                                    <li id="modal_discount" class="discount-price"></li>
                                </ul>
                            </div>
                            <p id="modal-description"></p>
<!--                            <div class="pro-details-size-color">-->
<!--                                <div class="pro-details-color-wrap">-->
<!--                                    <span>Color</span>-->
<!--                                    <div class="pro-details-color-content">-->
<!--                                        <ul>-->
<!--                                            <li class="blue"></li>-->
<!--                                            <li class="maroon active"></li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="pro-details-quality">
                              <form id="form-deal" class="form-deal1" action="" method="post">
                                <div class="cart-plus-minus">
                                    <input class="cart-plus-minus-box" type="text" name="quantity" value="1" />
                                </div>
                                {% csrf_token %}
                                <div class="pro-details-cart btn-hover">
                                    <input class="form-deal-submit" type="submit" value="{% trans "+ Add to cart" %}">
                                </div>
                              </form>
                            </div>
                            <div class="pro-details-wish-com">
                                <div class="pro-details-wishlist">
                                    <a href="#"><i class="ion-android-favorite-outline"></i>{% trans "Add to wishlist" %}</a>
                                </div>
                                <div class="pro-details-compare">
                                    <form id="compare_form" action="" method="post">
                                        <input type="hidden" name="update" value="False" id="id_update">
                                        {% csrf_token %}
                                        <input id="submit_compaare" type="submit" style="display:none;" value="">
                                    </form>
                                    <span class="compare_icon"><i class="ion-ios-shuffle-strong"></i>{% trans "Add to compare" %}</span>
                                </div>
                            </div>
<!--                            <div class="pro-details-social-info">-->
<!--                                <span>{% trans "Share" %}</span>-->
<!--                                <div class="social-info">-->
<!--                                    <ul>-->
<!--                                        <li>-->
<!--                                            <a href="#"><i class="ion-social-facebook"></i></a>-->
<!--                                        </li>-->
<!--                                        <li>-->
<!--                                            <a href="#"><i class="ion-social-twitter"></i></a>-->
<!--                                        </li>-->
<!--                                        <li>-->
<!--                                            <a href="#"><i class="ion-social-google"></i></a>-->
<!--                                        </li>-->
<!--                                        <li>-->
<!--                                            <a href="#"><i class="ion-social-instagram"></i></a>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>