{% load i18n %}
{% load currency %}

<div class="container">

  <div class="row">
      <div class="col-md-12">
          <!-- Section Title -->
          <div class="section-title ml-0px">
              <h2>{% trans "New Arrivals" %}</h2>
              <p>{% trans "Add new products to weekly line up" %}</p>
          </div>
          <!-- Section Title -->
      </div>
  </div>
  <!-- Category Slider Start -->
  <div class="recent-product-slider owl-carousel owl-nav-style owl-loaded owl-drag">
<!--      <div class="hot-deal owl-carousel owl-nav-style mb-res-sm-30px mb-res-sm-30px">-->
      <!-- Single item -->
    {% for product in products %}
            <article style="min-height:373px;!important;" class="list-product">

            <div class="img-block">
                <a href="single-product.html" class="thumbnail">
                    <img class="first-img" src="{% if product.image %}{{ product.image.url }}{% endif %}" alt="" />
                </a>
                <div class="quick-view quick-view1"
                    data-url={% if product.image %}{{ product.image.url }}{% endif %} data-name={{product.name}} data-description={{product.description}}
                    data-price={{product.price}} data-discount={{product.discount}} data-url3="{% if product.image3 %}{{product.image3.url}}{% endif %}"
                    data-url1="{% if product.image1 %}{{product.image1.url}}{% endif %}" data-id={{product.id}}
                     data-url2="{% if product.image2 %}{{product.image2.url}}{% endif %}">
                    <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                        <i class="ion-ios-search-strong"></i>
                    </a>
                </div>
            </div>
            {% if product.is_new %}
              <ul class="product-flag">
                  <li class="new">{% trans "New" %}</li>
              </ul>
            {% endif %}
            <div class="product-decs">
                <a class="inner-link" href="shop-4-column.html"><span>{{ product.name }}</span></a>
                <h2><a href="single-product.html" class="product-link">{{ product.description|truncatewords:5 }}</a></h2>
                <div class="rating-product">
                    <i class="ion-android-star"></i>
                    <i class="ion-android-star"></i>
                    <i class="ion-android-star"></i>
                    <i class="ion-android-star"></i>
                    <i class="ion-android-star"></i>
                </div>
                <div class="pricing-meta">
                    <ul>
                        <li class="{% if product.discount %}old-price{% else %} price{% endif %}">{{ product.price|currency:request.session.currency }}&nbsp;{{request.session.currency}}</li>
                        {% if product.HotDealAmount < 1 %}
                            <li class="discount-price">{% trans "ended up" %}</li>
                        {% endif %}
                        {% if product.discount %}
                          <li class="current-price">{{ product.get_total_price_after_discount|currency:request.session.currency }} &nbsp;{{request.session.currency}}</li>
                          <li class="discount-price">-{{product.discount}}%</li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="add-to-link">
                <ul>
                  {% if product.HotDealAmount > 0 %}
                    <form action="{% url "cart:cart_add" product.id %}" method="post">
                      <input name="quantity" style="display:none;" value="1">
                        {% csrf_token %}
                        <li class="cart"><input class="cart-btn" type="submit" value="{% trans "Add to cart" %}"></li>
<!--                          <li class="cart"><a type="submit" class="cart-btn" href="#">{% trans "ADD TO CART" %}</a></li>-->
                    </form>
                  {% endif %}
                    <li>
                        <a href="wishlist.html"><i class="ion-android-favorite-outline"></i></a>
                    </li>
                    <li>
                        <a href="compare.html"><i class="ion-ios-shuffle-strong"></i></a>
                    </li>
                </ul>
            </div>
        </article>

                        {% endfor %}
  </div>
  <!-- Category Slider End  -->
</div>