{% load i18n %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- Section Title -->
            <div class="section-title">
                <h2>{% trans "Popular Categories" %}</h2>
            </div>
            <!-- Section Title -->
        </div>
    </div>
    <!-- Category Slider Start -->
    <div class="category-slider owl-carousel owl-nav-style">
        <!-- Single item -->
        {% for c in popular_categories %}
            <div class="category-item">
                <div class="category-list mb-30px">
                    <div class="category-thumb">
                        <a href="{% url "shop:product_list_by_category" c.slug %}">
                            <img src="{{c.image.url}}" alt="" />
                        </a>
                    </div>
                    <div class="desc-listcategoreis">
                        <div class="name_categories">
                            <h4>{{c.name}}</h4>
                        </div>
                        <span class="number_product">{{c.products.count}} {% trans "Products" %}</span>
                        <a href="{% url "shop:product_list_by_category" c.slug %}"> {% trans "Shop Now" %} <i class="ion-android-arrow-dropright-circle"></i></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- Category Slider End  -->
</div>