{% extends "shop/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
  {% if category %}{{ category.name }}{% else %}{% trans "Products" %}{% endif %}
{% endblock %}

{% block content %}
<!--  <div id="sidebar">-->
<!--    <h3>{% trans "Categories" %}</h3>-->
<!--    <ul>-->
<!--      <li {% if not category %}class="selected"{% endif %}>-->
<!--        <a href="{% url "shop:product_list" %}">{% trans "All" %}</a>-->
<!--      </li>-->
<!--      {% for c in categories %}-->
<!--        <li {% if category.slug == c.slug %}class="selected"{% endif %}>-->
<!--          <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>-->
<!--        </li>-->
<!--      {% endfor %}-->
<!--    </ul>-->
<!--  </div>-->
<!--  <div id="main" class="product-list">-->
<!--    <h1>{% if category %}{{ category.name }}{% else %}{% trans "Products" %}{% endif %}</h1>-->
<!--    {% for product in products %}-->
<!--      <div class="item">-->
<!--        <a href="{{ product.get_absolute_url }}">-->
<!--          <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">-->
<!--        </a>-->
<!--        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>-->
<!--        ${{ product.price }}-->
<!--      </div>-->
<!--    {% endfor %}-->
<!--  </div>-->
    {% include "./listSubModule/banner.html" %}
    <!-- Category Area Start -->
    <section class="categorie-area">
        {% include "./listSubModule/popularCategories.html" %}
    </section>
    <!-- Category Area End  -->
    <!-- Hot deal area Start -->
    <section class="hot-deal-area mb-30px">
        <div class="container">
            <div class="row">
                {% include "./listSubModule/HotDeal.html" %}
            </div>
        </div>
    </section>
    <section class="hot-deal-area mb-30px">
        <div class="container">
            <div class="row">
                {% include "./listSubModule/NewArrival.html" %}
            </div>
        </div>
    </section>
    <!-- Hot Deal Area End -->
    <!-- Testimonial Area Start -->
<!--    <section class="testimonial-area">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-md-12">-->
<!--                    &lt;!&ndash; Section Title &ndash;&gt;-->
<!--                    <div class="section-title">-->
<!--                        <h2>Client Testimonials</h2>-->
<!--                        <p>What our happy customers says !</p>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Section Title &ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Testimonial Slider Start &ndash;&gt;-->
<!--            <div class="testi-slider owl-carousel owl-dot-style">-->
<!--                &lt;!&ndash; Single item &ndash;&gt;-->
<!--                <div class="testi-slider-wrapper">-->
<!--                    <div class="testi-slider-inner">-->
<!--                        <div class="testi-img">-->
<!--                            <img src="assets/images/testimonial-image/1.png" alt="" />-->
<!--                        </div>-->
<!--                        <div class="testi-content">-->
<!--                            <div class="testi-content-text">-->
<!--                                All Perfect !! I have three sites with magento , this theme is the best !! Excellent support , advice theme installation package , sorry for English, are Italian but I had no problem !! Thank you !-->
<!--                            </div>-->
<!--                            <div class="author-text">-->
<!--                                <h4>orando BLoom <span>demo@posthemes.com</span></h4>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; Single item &ndash;&gt;-->
<!--                <div class="testi-slider-wrapper">-->
<!--                    <div class="testi-slider-inner">-->
<!--                        <div class="testi-img">-->
<!--                            <img src="assets/images/testimonial-image/2.png" alt="" />-->
<!--                        </div>-->
<!--                        <div class="testi-content">-->
<!--                            <div class="testi-content-text">-->
<!--                                All Perfect !! I have three sites with magento , this theme is the best !! Excellent support , advice theme installation package , sorry for English, are Italian but I had no problem !! Thank you !-->
<!--                            </div>-->
<!--                            <div class="author-text">-->
<!--                                <h4>orando BLoom <span>demo@posthemes.com</span></h4>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; Single item &ndash;&gt;-->
<!--                <div class="testi-slider-wrapper">-->
<!--                    <div class="testi-slider-inner">-->
<!--                        <div class="testi-img">-->
<!--                            <img src="assets/images/testimonial-image/1.png" alt="" />-->
<!--                        </div>-->
<!--                        <div class="testi-content">-->
<!--                            <div class="testi-content-text">-->
<!--                                All Perfect !! I have three sites with magento , this theme is the best !! Excellent support , advice theme installation package , sorry for English, are Italian but I had no problem !! Thank you !-->
<!--                            </div>-->
<!--                            <div class="author-text">-->
<!--                                <h4>orando BLoom <span>demo@posthemes.com</span></h4>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; Single item &ndash;&gt;-->
<!--            </div>-->
<!--            &lt;!&ndash; Testimonial Slider End &ndash;&gt;-->
<!--        </div>-->
<!--    </section>-->
    {% include "./listSubModule/feature.html" %}
    {% include "./listSubModule/bestselling.html" %}
    <!-- Banner Area 2 Start -->
    <div class="banner-area-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner-inner">
                        <a href="shop-4-column.html"><img src="{% static "assets/images/banner-image/4.jpg"}" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Area 2 End -->
    <!--  Blog Area start -->
    <section class="blog-area mb-30px">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Section Title -->
                    <div class="section-title">
                        <h2>Latest Blogs</h2>
                        <p>Present posts in a best way to highlight interesting moments of your blog.</p>
                    </div>
                    <!-- Section Title -->
                </div>
            </div>
            <!-- Blog Slider Start -->
            <div class="blog-slider-active owl-carousel owl-nav-style">
                <!-- single item -->
                <article class="blog-post">
                    <div class="blog-post-top">
                        <div class="blog-img">
                            <img src="assets/images/blog-image/blog-1.jpg" alt="" />
                        </div>
                    </div>
                    <div class="blog-post-content d-flex">
                        <div class="blog-post-content-cell">
                            <a href="blog-grid-left-sidebar.html" class="blog-meta">Fashion</a>
                            <h4 class="blog-post-heading"><a href="blog-single-left-sidebar.html">This is First Post For XipBlog</a></h4>
                            <p class="blog-text">
                                Lorem Ipsum is simply dummy text of the printing and typeSettings industry. Lorem Ipsum has been the industrys ...
                            </p>
                            <a class="read-more-btn" href="blog-single-left-sidebar.html"> Read More <i class="ion-android-arrow-dropright-circle"></i></a>
                        </div>
                    </div>
                </article>
                <!-- single item -->
                <article class="blog-post">
                    <div class="blog-post-top">
                        <div class="blog-img">
                            <img src="assets/images/blog-image/blog-2.jpg" alt="" />
                        </div>
                    </div>
                    <div class="blog-post-content d-flex">
                        <div class="blog-post-content-cell">
                            <a href="blog-grid-left-sidebar.html" class="blog-meta">Fashion</a>
                            <h4 class="blog-post-heading"><a href="blog-single-left-sidebar.html">This is Secound Post For XipBlog</a></h4>
                            <p class="blog-text">
                                Lorem Ipsum is simply dummy text of the printing and typeSettings industry. Lorem Ipsum has been the industrys ...
                            </p>
                            <a class="read-more-btn" href="blog-single-left-sidebar.html"> Read More <i class="ion-android-arrow-dropright-circle"></i></a>
                        </div>
                    </div>
                </article>
                <!-- single item -->
                <article class="blog-post">
                    <div class="blog-post-top">
                        <div class="blog-img">
                            <img src="assets/images/blog-image/blog-2.jpg" alt="" />
                        </div>
                    </div>
                    <div class="blog-post-content d-flex">
                        <div class="blog-post-content-cell">
                            <a href="blog-grid-left-sidebar.html" class="blog-meta">Fashion</a>
                            <h4 class="blog-post-heading"><a href="blog-single-left-sidebar.html">This is Third Post For XipBlog</a></h4>
                            <p class="blog-text">
                                Lorem Ipsum is simply dummy text of the printing and typeSettings industry. Lorem Ipsum has been the industrys ...
                            </p>
                            <a class="read-more-btn" href="blog-single-left-sidebar.html"> Read More <i class="ion-android-arrow-dropright-circle"></i></a>
                        </div>
                    </div>
                </article>
                <!-- single item -->
                <article class="blog-post">
                    <div class="blog-post-top">
                        <div class="blog-img">
                            <img src="assets/images/blog-image/blog-1.jpg" alt="" />
                        </div>
                    </div>
                    <div class="blog-post-content">
                        <a href="blog-grid-left-sidebar.html" class="blog-meta">Fashion</a>
                        <h4 class="blog-post-heading"><a href="blog-single-left-sidebar.html">This is Foruth Post For XipBlog</a></h4>
                        <p class="blog-text">
                            Lorem Ipsum is simply dummy text of the printing and typeSettings industry. Lorem Ipsum has been the industrys ...
                        </p>
                        <a class="read-more-btn" href="blog-single-left-sidebar.html"> Read More <i class="ion-android-arrow-dropright-circle"></i></a>
                    </div>
                </article>
                <!-- single item -->
            </div>
            <!--  Blog Slider End -->
        </div>
    </section>
    <!--  Blog Area start -->
    <!-- Brand area start -->
    <div class="brand-area">
        <div class="container">
            <div class="border-1px">
                <div class="brand-slider owl-carousel owl-nav-style owl-nav-style-2">
                    <div class="brand-slider-item">
                        <a href="#"><img src="assets/images/brand-logo/1.jpg" alt="" /></a>
                    </div>
                    <div class="brand-slider-item">
                        <a href="#"><img src="assets/images/brand-logo/2.jpg" alt="" /></a>
                    </div>
                    <div class="brand-slider-item">
                        <a href="#"><img src="assets/images/brand-logo/3.jpg" alt="" /></a>
                    </div>
                    <div class="brand-slider-item">
                        <a href="#"><img src="assets/images/brand-logo/4.jpg" alt="" /></a>
                    </div>
                    <div class="brand-slider-item">
                        <a href="#"><img src="assets/images/brand-logo/5.jpg" alt="" /></a>
                    </div>
                    <div class="brand-slider-item">
                        <a href="#"><img src="assets/images/brand-logo/1.jpg" alt="" /></a>
                    </div>
                    <div class="brand-slider-item">
                        <a href="#"><img src="assets/images/brand-logo/2.jpg" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <!-- Brand area End -->
    {% include "./listSubModule/modal.html" %}
{% endblock %}

{% block domready %}submit_compaare
  $(".compare_icon").on('click',function(e){
    var ddd=$(this);
    ddd.parent().children(".compare-form").children("#submit_compaare").click()
  })

	$(".quick-view1").on('click',function(e){
		var ddd=$(this);
    $("#modal-description" ).empty();
    $("#modal-price").removeClass( "old-price" );
    $("#form-deal").removeClass( "form-deal1" );
    var name=ddd.data('name')
		var discount=ddd.data('discount')
		var url=ddd.data('url')
    var url1=ddd.data('url1')
    var url2=ddd.data('url2')
    var url3=ddd.data('url3')
    var id=ddd.data('id')
    var amount=ddd.data('amount')
    var old_price = ddd.parent().parent().children(".product-decs").children(".pricing-meta").children().children("#old-price").text()
    var current_price=ddd.parent().parent().children(".product-decs").children(".pricing-meta").children().children("#current-price").text()
		var description=ddd.parent().parent().children(".product-decs").children(".description-h2").children(".product-link").text()
    $( "#modal-description" ).append(ddd.parent().parent().children(".product-decs").children(".description-h2-1").children("#description").html());
    console.log("ssssssss",ddd.parent().parent().children(".product-decs").children(".description-h2").html())

    $("#tab-pane-img").attr("src", $(this).data('url'));
    $("#tab-pane-img-0").attr("src", $(this).data('url'));
    $("#tab-pane-img-1").attr("src", $(this).data('url1'));
    $("#pro-2-img").attr("src", $(this).data('url1'));
    $("#tab-pane-img-2").attr("src", $(this).data('url2'));
    $("#pro-3-img").attr("src", $(this).data('url2'));
    $("#tab-pane-img-3").attr("src", $(this).data('url3'));
    $("#pro-4-img").attr("src", $(this).data('url3'));
    $("#compare_form").attr('action', 'compare/add/'+ id + '/');
    $("#form-deal").attr('action', 'cart/add/'+ id + '/');
		$("#product-details-content-detail").text(name);
    $("#modal-price").text(old_price);
    if (current_price) {
        $("#modal-price").addClass( "old-price" );
        $("#modal_discount").text("-"+discount+"%");
    }else{
        $("#modal_discount").text("0%");
    }

    if (amount < 1) {
        $("#form-deal").addClass( "form-deal1" );
    }

    $("#modal_current-price").text(current_price);

<!--		$(".modal-one").text($(this).data('like'));-->
<!--		$(".modal-two").text($(this).data('comment'));-->
	});
{% endblock %}