{% extends "shop/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
  {% if category %}{{ category.name }}{% else %}{% trans "Products" %}{% endif %}
{% endblock %}

{% block content %}
<!--  <div id="sidebar">-->
<!--    <h3>{% trans "Categories" %}</h3>-->
<!--    <ul>-->
<!--      <li {% if not category %}class="selected"{% endif %}>-->
<!--        <a href="{% url "shop:product_list" %}">{% trans "All" %}</a>-->
<!--      </li>-->
<!--      {% for c in categories %}-->
<!--        <li {% if category.slug == c.slug %}class="selected"{% endif %}>-->
<!--          <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>-->
<!--        </li>-->
<!--      {% endfor %}-->
<!--    </ul>-->
<!--  </div>-->
<!--  <div id="main" class="product-list">-->
<!--    <h1>{% if category %}{{ category.name }}{% else %}{% trans "Products" %}{% endif %}</h1>-->
<!--    {% for product in products %}-->
<!--      <div class="item">-->
<!--        <a href="{{ product.get_absolute_url }}">-->
<!--          <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">-->
<!--        </a>-->
<!--        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>-->
<!--        ${{ product.price }}-->
<!--      </div>-->
<!--    {% endfor %}-->
<!--  </div>-->
    {% include "./listSubModule/banner.html" %}
    <!-- Category Area Start -->
    <section class="categorie-area">
        {% include "./listSubModule/popularCategories.html" %}
    </section>
    <!-- Category Area End  -->
    <!-- Hot deal area Start -->
    <section class="hot-deal-area mb-30px">
        <div class="container">
            <div class="row">
                {% include "./listSubModule/HotDeal.html" %}
            </div>
        </div>
    </section>
    <section class="hot-deal-area mb-30px">
        <div class="container">
            <div class="row">
                {% include "./listSubModule/NewArrival.html" %}
            </div>
        </div>
    </section>
    <!-- Hot Deal Area End -->
    <!-- Testimonial Area Start -->
    <section class="testimonial-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Section Title -->
                    <div class="section-title">
                        <h2>Client Testimonials</h2>
                        <p>What our happy customers says !</p>
                    </div>
                    <!-- Section Title -->
                </div>
            </div>
            <!-- Testimonial Slider Start -->
            <div class="testi-slider owl-carousel owl-dot-style">
                <!-- Single item -->
                <div class="testi-slider-wrapper">
                    <div class="testi-slider-inner">
                        <div class="testi-img">
                            <img src="assets/images/testimonial-image/1.png" alt="" />
                        </div>
                        <div class="testi-content">
                            <div class="testi-content-text">
                                All Perfect !! I have three sites with magento , this theme is the best !! Excellent support , advice theme installation package , sorry for English, are Italian but I had no problem !! Thank you !
                            </div>
                            <div class="author-text">
                                <h4>orando BLoom <span>demo@posthemes.com</span></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single item -->
                <div class="testi-slider-wrapper">
                    <div class="testi-slider-inner">
                        <div class="testi-img">
                            <img src="assets/images/testimonial-image/2.png" alt="" />
                        </div>
                        <div class="testi-content">
                            <div class="testi-content-text">
                                All Perfect !! I have three sites with magento , this theme is the best !! Excellent support , advice theme installation package , sorry for English, are Italian but I had no problem !! Thank you !
                            </div>
                            <div class="author-text">
                                <h4>orando BLoom <span>demo@posthemes.com</span></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single item -->
                <div class="testi-slider-wrapper">
                    <div class="testi-slider-inner">
                        <div class="testi-img">
                            <img src="assets/images/testimonial-image/1.png" alt="" />
                        </div>
                        <div class="testi-content">
                            <div class="testi-content-text">
                                All Perfect !! I have three sites with magento , this theme is the best !! Excellent support , advice theme installation package , sorry for English, are Italian but I had no problem !! Thank you !
                            </div>
                            <div class="author-text">
                                <h4>orando BLoom <span>demo@posthemes.com</span></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single item -->
            </div>
            <!-- Testimonial Slider End -->
        </div>
    </section>
    <!-- Testimonial Area end -->
    <!-- Static Area Start -->
    <section class="static-area mtb-60px">
        <div class="container">
            <div class="static-area-wrap">
                <div class="row">
                    <!-- Static Single Item Start -->
                    <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6">
                        <div class="single-static pb-res-md-0 pb-res-sm-0 pb-res-xs-0">
                            <img src="assets/images/icons/static-icons-1.png" alt="" class="img-responsive" />
                            <div class="single-static-meta">
                                <h4>Free Shipping</h4>
                                <p>On all orders over $75.00</p>
                            </div>
                        </div>
                    </div>
                    <!-- Static Single Item End -->
                    <!-- Static Single Item Start -->
                    <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6">
                        <div class="single-static pb-res-md-0 pb-res-sm-0 pb-res-xs-0 pt-res-xs-20">
                            <img src="assets/images/icons/static-icons-2.png" alt="" class="img-responsive" />
                            <div class="single-static-meta">
                                <h4>Free Returns</h4>
                                <p>Returns are free within 9 days</p>
                            </div>
                        </div>
                    </div>
                    <!-- Static Single Item End -->
                    <!-- Static Single Item Start -->
                    <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6">
                        <div class="single-static pt-res-md-30 pb-res-sm-30 pb-res-xs-0 pt-res-xs-20">
                            <img src="assets/images/icons/static-icons-3.png" alt="" class="img-responsive" />
                            <div class="single-static-meta">
                                <h4>100% Payment Secure</h4>
                                <p>Your payment are safe with us.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Static Single Item End -->
                    <!-- Static Single Item Start -->
                    <div class="col-lg-3 col-xs-12 col-md-6 col-sm-6">
                        <div class="single-static pt-res-md-30 pb-res-sm-30 pt-res-xs-20">
                            <img src="assets/images/icons/static-icons-4.png" alt="" class="img-responsive" />
                            <div class="single-static-meta">
                                <h4>Support 24/7</h4>
                                <p>Contact us 24 hours a day</p>
                            </div>
                        </div>
                    </div>
                    <!-- Static Single Item End -->
                </div>
            </div>
        </div>
    </section>
    <!-- Static Area End -->
    <!-- Feature Area Start -->
    <section class="feature-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Section Title -->
                    <div class="section-title">
                        <h2>Featured Products</h2>
                        <p>Add featured products to weekly line up</p>
                    </div>
                    <!-- Section Title -->
                </div>
            </div>
            <!-- Feature Slider Start -->
            <div class="feature-slider owl-carousel owl-nav-style">
                <!-- Single Item -->
                <div class="feature-slider-item">
                    <article class="list-product">
                        <div class="img-block">
                            <a href="single-product.html" class="thumbnail">
                                <img class="first-img" src="assets/images/product-image/organic/product-18.jpg" alt="" />
                                <img class="second-img" src="assets/images/product-image/organic/product-18.jpg" alt="" />
                            </a>
                            <div class="quick-view">
                                <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                                    <i class="ion-ios-search-strong"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-decs">
                            <a class="inner-link" href="shop-4-column.html"><span>STUDIO DESIGN</span></a>
                            <h2><a href="single-product.html" class="product-link">Juicy Couture Solid...</a></h2>
                            <div class="rating-product">
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                            </div>
                            <div class="pricing-meta">
                                <ul>
                                    <li class="old-price not-cut">€29.90</li>
                                </ul>
                            </div>
                        </div>
                    </article>
                    <article class="list-product">
                        <div class="img-block">
                            <a href="single-product.html" class="thumbnail">
                                <img class="first-img" src="assets/images/product-image/organic/product-19.jpg" alt="" />
                                <img class="second-img" src="assets/images/product-image/organic/product-20.jpg" alt="" />
                            </a>
                            <div class="quick-view">
                                <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                                    <i class="ion-ios-search-strong"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-decs">
                            <a class="inner-link" href="shop-4-column.html"><span>STUDIO DESIGN</span></a>
                            <h2><a href="single-product.html" class="product-link">New Balance Fresh...</a></h2>
                            <div class="rating-product">
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                            </div>
                            <div class="pricing-meta">
                                <ul>
                                    <li class="old-price not-cut">€29.90</li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>
                <!-- Single Item -->
                <div class="feature-slider-item">
                    <article class="list-product">
                        <div class="img-block">
                            <a href="single-product.html" class="thumbnail">
                                <img class="first-img" src="assets/images/product-image/organic/product-16.jpg" alt="" />
                                <img class="second-img" src="assets/images/product-image/organic/product-17.jpg" alt="" />
                            </a>
                            <div class="quick-view">
                                <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                                    <i class="ion-ios-search-strong"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-decs">
                            <a class="inner-link" href="shop-4-column.html"><span>STUDIO DESIGN</span></a>
                            <h2><a href="single-product.html" class="product-link">Originals Kaval Win...</a></h2>
                            <div class="rating-product">
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                            </div>
                            <div class="pricing-meta">
                                <ul>
                                    <li class="old-price">€23.90</li>
                                    <li class="current-price">€21.51</li>
                                </ul>
                            </div>
                        </div>
                    </article>
                    <article class="list-product">
                        <div class="img-block">
                            <a href="single-product.html" class="thumbnail">
                                <img class="first-img" src="assets/images/product-image/organic/product-11.jpg" alt="" />
                                <img class="second-img" src="assets/images/product-image/organic/product-12.jpg" alt="" />
                            </a>
                            <div class="quick-view">
                                <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                                    <i class="ion-ios-search-strong"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-decs">
                            <a class="inner-link" href="shop-4-column.html"><span>STUDIO DESIGN</span></a>
                            <h2><a href="single-product.html" class="product-link">Originals Kaval Win...</a></h2>
                            <div class="rating-product">
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                            </div>
                            <div class="pricing-meta">
                                <ul>
                                    <li class="old-price">€23.90</li>
                                    <li class="current-price">€21.51</li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>
                <!-- Single Item -->
                <div class="feature-slider-item">
                    <article class="list-product">
                        <div class="img-block">
                            <a href="single-product.html" class="thumbnail">
                                <img class="first-img" src="assets/images/product-image/organic/product-2.jpg" alt="" />
                                <img class="second-img" src="assets/images/product-image/organic/product-15.jpg" alt="" />
                            </a>
                            <div class="quick-view">
                                <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                                    <i class="ion-ios-search-strong"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-decs">
                            <a class="inner-link" href="shop-4-column.html"><span>STUDIO DESIGN</span></a>
                            <h2><a href="single-product.html" class="product-link">Juicy Couture Juicy...</a></h2>
                            <div class="rating-product">
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                            </div>
                            <div class="pricing-meta">
                                <ul>
                                    <li class="old-price">€35.90</li>
                                    <li class="current-price">€34.11</li>
                                </ul>
                            </div>
                        </div>
                    </article>
                    <article class="list-product">
                        <div class="img-block">
                            <a href="single-product.html" class="thumbnail">
                                <img class="first-img" src="assets/images/product-image/organic/product-1.jpg" alt="" />
                                <img class="second-img" src="assets/images/product-image/organic/product-1.jpg" alt="" />
                            </a>
                            <div class="quick-view">
                                <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                                    <i class="ion-ios-search-strong"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-decs">
                            <a class="inner-link" href="shop-4-column.html"><span>STUDIO DESIGN</span></a>
                            <h2><a href="single-product.html" class="product-link">Juicy Couture Juicy...</a></h2>
                            <div class="rating-product">
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                            </div>
                            <div class="pricing-meta">
                                <ul>
                                    <li class="old-price">€35.90</li>
                                    <li class="current-price">€34.11</li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>
                <!-- Single Item -->
                <div class="feature-slider-item">
                    <article class="list-product">
                        <div class="img-block">
                            <a href="single-product.html" class="thumbnail">
                                <img class="first-img" src="assets/images/product-image/organic/product-2.jpg" alt="" />
                                <img class="second-img" src="assets/images/product-image/organic/product-23.jpg" alt="" />
                            </a>
                            <div class="quick-view">
                                <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                                    <i class="ion-ios-search-strong"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-decs">
                            <a class="inner-link" href="shop-4-column.html"><span>STUDIO DESIGN</span></a>
                            <h2><a href="single-product.html" class="product-link">New Balance Fresh...</a></h2>
                            <div class="rating-product">
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                            </div>
                            <div class="pricing-meta">
                                <ul>
                                    <li class="old-price">€18.90</li>
                                    <li class="current-price">€15.12</li>
                                </ul>
                            </div>
                        </div>
                    </article>
                    <article class="list-product">
                        <div class="img-block">
                            <a href="single-product.html" class="thumbnail">
                                <img class="first-img" src="assets/images/product-image/organic/product-18.jpg" alt="" />
                                <img class="second-img" src="assets/images/product-image/organic/product-18.jpg" alt="" />
                            </a>
                            <div class="quick-view">
                                <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                                    <i class="ion-ios-search-strong"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-decs">
                            <a class="inner-link" href="shop-4-column.html"><span>STUDIO DESIGN</span></a>
                            <h2><a href="single-product.html" class="product-link">New Balance Fresh...</a></h2>
                            <div class="rating-product">
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                            </div>
                            <div class="pricing-meta">
                                <ul>
                                    <li class="old-price not-cut">€29.90</li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>
                <!-- Single Item -->
                <div class="feature-slider-item">
                    <article class="list-product">
                        <div class="img-block">
                            <a href="single-product.html" class="thumbnail">
                                <img class="first-img" src="assets/images/product-image/organic/product-5.jpg" alt="" />
                                <img class="second-img" src="assets/images/product-image/organic/product-5.jpg" alt="" />
                            </a>
                            <div class="quick-view">
                                <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                                    <i class="ion-ios-search-strong"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-decs">
                            <a class="inner-link" href="shop-4-column.html"><span>GRAPHIC CORNER</span></a>
                            <h2><a href="single-product.html" class="product-link">Juicy Couture Trico...</a></h2>
                            <div class="rating-product">
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                            </div>
                            <div class="pricing-meta">
                                <ul>
                                    <li class="old-price not-cut">€9.90</li>
                                </ul>
                            </div>
                        </div>
                    </article>
                    <article class="list-product">
                        <div class="img-block">
                            <a href="single-product.html" class="thumbnail">
                                <img class="first-img" src="assets/images/product-image/organic/product-7.jpg" alt="" />
                                <img class="second-img" src="assets/images/product-image/organic/product-8.jpg" alt="" />
                            </a>
                            <div class="quick-view">
                                <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                                    <i class="ion-ios-search-strong"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-decs">
                            <a class="inner-link" href="shop-4-column.html"><span>GRAPHIC CORNER</span></a>
                            <h2><a href="single-product.html" class="product-link">Fila Locker Room V...</a></h2>
                            <div class="rating-product">
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                            </div>
                            <div class="pricing-meta">
                                <ul>
                                    <li class="old-price not-cut">€9.90</li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>
                <!-- Single Item -->
                <div class="feature-slider-item">
                    <article class="list-product">
                        <div class="img-block">
                            <a href="single-product.html" class="thumbnail">
                                <img class="first-img" src="assets/images/product-image/organic/product-17.jpg" alt="" />
                                <img class="second-img" src="assets/images/product-image/organic/product-16.jpg" alt="" />
                            </a>
                            <div class="quick-view">
                                <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                                    <i class="ion-ios-search-strong"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-decs">
                            <a class="inner-link" href="shop-4-column.html"><span>STUDIO DESIGN</span></a>
                            <h2><a href="single-product.html" class="product-link">Trans-Weight Hood...</a></h2>
                            <div class="rating-product">
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                            </div>
                            <div class="pricing-meta">
                                <ul>
                                    <li class="old-price">€18.90</li>
                                </ul>
                            </div>
                        </div>
                    </article>
                    <article class="list-product">
                        <div class="img-block">
                            <a href="single-product.html" class="thumbnail">
                                <img class="first-img" src="assets/images/product-image/organic/product-10.jpg" alt="" />
                                <img class="second-img" src="assets/images/product-image/organic/product-1.jpg" alt="" />
                            </a>
                            <div class="quick-view">
                                <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                                    <i class="ion-ios-search-strong"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-decs">
                            <a class="inner-link" href="shop-4-column.html"><span>STUDIO DESIGN</span></a>
                            <h2><a href="single-product.html" class="product-link">New Luxury Men's...</a></h2>
                            <div class="rating-product">
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                            </div>
                            <div class="pricing-meta">
                                <ul>
                                    <li class="old-price">€11.90</li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>
                <!-- Single Item -->
                <div class="feature-slider-item">
                    <article class="list-product">
                        <div class="img-block">
                            <a href="single-product.html" class="thumbnail">
                                <img class="first-img" src="assets/images/product-image/organic/product-22.jpg" alt="" />
                                <img class="second-img" src="assets/images/product-image/organic/product-15.jpg" alt="" />
                            </a>
                            <div class="quick-view">
                                <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                                    <i class="ion-ios-search-strong"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-decs">
                            <a class="inner-link" href="shop-4-column.html"><span>GRAPHIC CORNER</span></a>
                            <h2><a href="single-product.html" class="product-link">Calvin Klein Jeans...</a></h2>
                            <div class="rating-product">
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                            </div>
                            <div class="pricing-meta">
                                <ul>
                                    <li class="old-price not-cut">€29.90</li>
                                </ul>
                            </div>
                        </div>
                    </article>
                    <article class="list-product">
                        <div class="img-block">
                            <a href="single-product.html" class="thumbnail">
                                <img class="first-img" src="assets/images/product-image/organic/product-9.jpg" alt="" />
                                <img class="second-img" src="assets/images/product-image/organic/product-9.jpg" alt="" />
                            </a>
                            <div class="quick-view">
                                <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                                    <i class="ion-ios-search-strong"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-decs">
                            <a class="inner-link" href="shop-4-column.html"><span>STUDIO DESIGN</span></a>
                            <h2><a href="single-product.html" class="product-link">Water and Wind R...</a></h2>
                            <div class="rating-product">
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                            </div>
                            <div class="pricing-meta">
                                <ul>
                                    <li class="old-price not-cut">€11.90</li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>
                <!-- Single Item -->
                <div class="feature-slider-item">
                    <article class="list-product">
                        <div class="img-block">
                            <a href="single-product.html" class="thumbnail">
                                <img class="first-img" src="assets/images/product-image/organic/product-14.jpg" alt="" />
                                <img class="second-img" src="assets/images/product-image/organic/product-14.jpg" alt="" />
                            </a>
                            <div class="quick-view">
                                <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                                    <i class="ion-ios-search-strong"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-decs">
                            <a class="inner-link" href="shop-4-column.html"><span>GRAPIC CORNER</span></a>
                            <h2><a href="single-product.html" class="product-link">Madden by Steve...</a></h2>
                            <div class="rating-product">
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                            </div>
                            <div class="pricing-meta">
                                <ul>
                                    <li class="old-price">€11.90</li>
                                    <li class="current-price">€10.12</li>
                                </ul>
                            </div>
                        </div>
                    </article>
                    <article class="list-product">
                        <div class="img-block">
                            <a href="single-product.html" class="thumbnail">
                                <img class="first-img" src="assets/images/product-image/organic/product-3.jpg" alt="" />
                                <img class="second-img" src="assets/images/product-image/organic/product-4.jpg" alt="" />
                            </a>
                            <div class="quick-view">
                                <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                                    <i class="ion-ios-search-strong"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-decs">
                            <a class="inner-link" href="shop-4-column.html"><span>STUDIO DESIGN</span></a>
                            <h2><a href="single-product.html" class="product-link">Brixton Patrol All T...</a></h2>
                            <div class="rating-product">
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                            </div>
                            <div class="pricing-meta">
                                <ul>
                                    <li class="old-price not-cut">€18.90</li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>
                <!-- Single Item -->
                <div class="feature-slider-item">
                    <article class="list-product">
                        <div class="img-block">
                            <a href="single-product.html" class="thumbnail">
                                <img class="first-img" src="assets/images/product-image/organic/product-1.jpg" alt="" />
                                <img class="second-img" src="assets/images/product-image/organic/product-1.jpg" alt="" />
                            </a>
                            <div class="quick-view">
                                <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                                    <i class="ion-ios-search-strong"></i>
                                </a>
                            </div>
                        </div>
                        <div class="product-decs">
                            <a class="inner-link" href="shop-4-column.html"><span>STUDIO DESIGN</span></a>
                            <h2><a href="single-product.html" class="product-link">Juicy Couture Juicy...</a></h2>
                            <div class="rating-product">
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                                <i class="ion-android-star"></i>
                            </div>
                            <div class="pricing-meta">
                                <ul>
                                    <li class="old-price">€18.90</li>
                                    <li class="current-price">€34.21</li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>
                <!-- Single Item -->
            </div>
            <!-- Feature Slider End -->
        </div>
    </section>
    <!-- Feature Area End -->
    <!-- Banner Area 2 Start -->
    <div class="banner-area-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner-inner">
                        <a href="shop-4-column.html"><img src="{% static "assets/images/banner-image/4.jpg"}" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Area 2 End -->
    <!--  Blog Area start -->
    <section class="blog-area mb-30px">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Section Title -->
                    <div class="section-title">
                        <h2>Latest Blogs</h2>
                        <p>Present posts in a best way to highlight interesting moments of your blog.</p>
                    </div>
                    <!-- Section Title -->
                </div>
            </div>
            <!-- Blog Slider Start -->
            <div class="blog-slider-active owl-carousel owl-nav-style">
                <!-- single item -->
                <article class="blog-post">
                    <div class="blog-post-top">
                        <div class="blog-img">
                            <img src="assets/images/blog-image/blog-1.jpg" alt="" />
                        </div>
                    </div>
                    <div class="blog-post-content d-flex">
                        <div class="blog-post-content-cell">
                            <a href="blog-grid-left-sidebar.html" class="blog-meta">Fashion</a>
                            <h4 class="blog-post-heading"><a href="blog-single-left-sidebar.html">This is First Post For XipBlog</a></h4>
                            <p class="blog-text">
                                Lorem Ipsum is simply dummy text of the printing and typeSettings industry. Lorem Ipsum has been the industrys ...
                            </p>
                            <a class="read-more-btn" href="blog-single-left-sidebar.html"> Read More <i class="ion-android-arrow-dropright-circle"></i></a>
                        </div>
                    </div>
                </article>
                <!-- single item -->
                <article class="blog-post">
                    <div class="blog-post-top">
                        <div class="blog-img">
                            <img src="assets/images/blog-image/blog-2.jpg" alt="" />
                        </div>
                    </div>
                    <div class="blog-post-content d-flex">
                        <div class="blog-post-content-cell">
                            <a href="blog-grid-left-sidebar.html" class="blog-meta">Fashion</a>
                            <h4 class="blog-post-heading"><a href="blog-single-left-sidebar.html">This is Secound Post For XipBlog</a></h4>
                            <p class="blog-text">
                                Lorem Ipsum is simply dummy text of the printing and typeSettings industry. Lorem Ipsum has been the industrys ...
                            </p>
                            <a class="read-more-btn" href="blog-single-left-sidebar.html"> Read More <i class="ion-android-arrow-dropright-circle"></i></a>
                        </div>
                    </div>
                </article>
                <!-- single item -->
                <article class="blog-post">
                    <div class="blog-post-top">
                        <div class="blog-img">
                            <img src="assets/images/blog-image/blog-2.jpg" alt="" />
                        </div>
                    </div>
                    <div class="blog-post-content d-flex">
                        <div class="blog-post-content-cell">
                            <a href="blog-grid-left-sidebar.html" class="blog-meta">Fashion</a>
                            <h4 class="blog-post-heading"><a href="blog-single-left-sidebar.html">This is Third Post For XipBlog</a></h4>
                            <p class="blog-text">
                                Lorem Ipsum is simply dummy text of the printing and typeSettings industry. Lorem Ipsum has been the industrys ...
                            </p>
                            <a class="read-more-btn" href="blog-single-left-sidebar.html"> Read More <i class="ion-android-arrow-dropright-circle"></i></a>
                        </div>
                    </div>
                </article>
                <!-- single item -->
                <article class="blog-post">
                    <div class="blog-post-top">
                        <div class="blog-img">
                            <img src="assets/images/blog-image/blog-1.jpg" alt="" />
                        </div>
                    </div>
                    <div class="blog-post-content">
                        <a href="blog-grid-left-sidebar.html" class="blog-meta">Fashion</a>
                        <h4 class="blog-post-heading"><a href="blog-single-left-sidebar.html">This is Foruth Post For XipBlog</a></h4>
                        <p class="blog-text">
                            Lorem Ipsum is simply dummy text of the printing and typeSettings industry. Lorem Ipsum has been the industrys ...
                        </p>
                        <a class="read-more-btn" href="blog-single-left-sidebar.html"> Read More <i class="ion-android-arrow-dropright-circle"></i></a>
                    </div>
                </article>
                <!-- single item -->
            </div>
            <!--  Blog Slider End -->
        </div>
    </section>
    <!--  Blog Area start -->
    <!-- Brand area start -->
    <div class="brand-area">
        <div class="container">
            <div class="border-1px">
                <div class="brand-slider owl-carousel owl-nav-style owl-nav-style-2">
                    <div class="brand-slider-item">
                        <a href="#"><img src="assets/images/brand-logo/1.jpg" alt="" /></a>
                    </div>
                    <div class="brand-slider-item">
                        <a href="#"><img src="assets/images/brand-logo/2.jpg" alt="" /></a>
                    </div>
                    <div class="brand-slider-item">
                        <a href="#"><img src="assets/images/brand-logo/3.jpg" alt="" /></a>
                    </div>
                    <div class="brand-slider-item">
                        <a href="#"><img src="assets/images/brand-logo/4.jpg" alt="" /></a>
                    </div>
                    <div class="brand-slider-item">
                        <a href="#"><img src="assets/images/brand-logo/5.jpg" alt="" /></a>
                    </div>
                    <div class="brand-slider-item">
                        <a href="#"><img src="assets/images/brand-logo/1.jpg" alt="" /></a>
                    </div>
                    <div class="brand-slider-item">
                        <a href="#"><img src="assets/images/brand-logo/2.jpg" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <!-- Brand area End -->
    {% include "./listSubModule/modal.html" %}
{% endblock %}

{% block domready %}
	$(".quick-view1").on('click',function(e){
		var ddd=$(this);
		var name=ddd.data('name')
		var description=ddd.data('description')
		var discount=ddd.data('discount')
		var price=ddd.data('price')
		var url=ddd.data('url')
    var url1=ddd.data('url1')
    var url2=ddd.data('url2')
    var url3=ddd.data('url3')
    var id=ddd.data('id')

    $("#tab-pane-img").attr("src", $(this).data('url'));
    $("#tab-pane-img-0").attr("src", $(this).data('url'));
    $("#tab-pane-img-1").attr("src", $(this).data('url1'));
    $("#pro-2-img").attr("src", $(this).data('url1'));
    $("#tab-pane-img-2").attr("src", $(this).data('url2'));
    $("#pro-3-img").attr("src", $(this).data('url2'));
    $("#tab-pane-img-3").attr("src", $(this).data('url3'));
    $("#pro-4-img").attr("src", $(this).data('url3'));
    $("#form-deal").attr('action', 'cart/add/'+ id + '/');
		$("#product-details-content-detail").text(name);
    $("#modal-price").text(price);
    $("#modal-description").text(description);

<!--		$(".modal-one").text($(this).data('like'));-->
<!--		$(".modal-two").text($(this).data('comment'));-->
	});
{% endblock %}